<section class="about-me" id="about-me-section">
    <div class="container about_me_container">
        <div class="flex_div">
            <div class="column-about_me_1">
                <h2 class="h2-About">Important things about me.</h2>
            </div>

            <div class="column-about_me_2 border_line">
                After many years spent in the pharmaceutical industry as a medical representative, 
                I came back to my unfulfilled interest – programming. My goal is to become a professional
                developer within the next few years. To achieve this, I started with completion of extended
                Web JAVA Developer course at IT Coders Lab School. 
                Currently I am looking for a chance to work in commercial JAVA projects. 
                Despite the lack of commercial experience, I believe through the compilation of hard work, 
                motivation and technical background I will bring quick value to engaged projects. 
            </div>
        </div>
    </div>
</section>

<section class="about-me" id="projects-section">
    <div class="container project_title_container">
        <h2 class="h2_projects">
            Projects
        </h2>
    </div>
        
    <div class="container projects_container">
        <h2 class="h3-About">Personal Portfolio</h2>
        <div class="flex_div">
            <div class="column-projects_1">
                <div class="project-display">
                    <div class="project_display_image">
                        <a href="https://stanislawjakubowski.github.io" target="_blank">
                            <img class="project_image" src="../../assets/images/porfolio_image.jpg" >
                        </a>
                    </div>
                </div>

                <div class="project-technogies">
                    <h2 class="h3-About">Technologies used</h2>
                    <ul class="technologies_list">
                        <li><i class="fa fa-gear technologies_list_li"></i>Angular</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>TypeScript</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>HTML5</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>CSS3</li>
                    </ul>
                </div>
            </div>

            <div class="column-projects_2 border_line">
                I wanted to build my portfolio website, so i decided to get familiar with angular framework.
                That's how it became my first front end project. 
            </div>
        
            <div class="column-projects_3_blank">
            </div>
        </div>
    </div>

    <div class="container projects_container">
        <h2 class="h3-About">Charity</h2>
        <div class="flex_div">
            <div class="column-projects_1">
                <div class="project-display">
                    <div class="project_display_image">
                        <a href="https://github.com/StanislawJakubowski/charityProject" target="_blank">
                            <img class="project_image" src="../../assets/images/charity_image.jpg" >
                        </a>
                    </div>
                </div>
                <div class="project-technogies">
                    <h2 class="h3-About">Technologies used</h2>
                    <ul class="technologies_list">
                        <li><i class="fa fa-gear technologies_list_li"></i>Java</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Maven</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Spring Security</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Spring Data</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>JUNIT</li>
                    </ul>
                </div>
            </div>
        
            <div class="column-projects_2 border_line">
                Java Project -  web aplication for donation management system. Application allow user to sign up. 
                After registration it send on email "confirm account token". 
                User has to confirm it in email box to get authorization and set role for user. 
                He/she can fill "donation form" to a specific organization. 
                Admin has posibility to modify organizations and specific fields of form. 
                I created custom validators for necessary field.
            </div>
            
            <div class="column-projects_3_blank">
            </div>
        </div>
    </div>

    <div class="container projects_container">
        <h2 class="h3-About">Dog Hotel</h2>
        <div class="flex_div">
            <div class="column-projects_1">
                <div class="project-display">
                    <div class="project_display_image">
                        <a href="https://stanislawjakubowski.github.io" target="_blank">
                            <img class="project_image" src="../../assets/images/dog_hotel_image.jpg" >
                        </a>
                    </div>
                </div>
                <div class="project-technogies">
                    <h2 class="h3-About">Technologies used</h2>
                    <ul class="technologies_list">
                        <li><i class="fa fa-gear technologies_list_li"></i>Java</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Maven</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Spring Security</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Spring Data</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>HTML5</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>Java Script</li>
                        <li><i class="fa fa-gear technologies_list_li"></i>CSS3</li>
                    </ul>
                </div>
            </div>

            <div class="column-projects_2 border_line">
                My Web aplication created to manage hotel for dogs. It was my final project of IT Coders Lab School. 
            </div>
            
            <div class="column-projects_3_blank">
            </div>
        </div>
    </div>

    <div class="container project_last_container">
        <h2 class="h3-About">Codility solutions</h2>
        <div class="flex_div">
            <div class="column-projects_1">
                <div class="project-display">
                    <div class="project_display_image">
                        <a href="https://stanislawjakubowski.github.io" target="_blank">
                            <img class="project_image" src="../../assets/images/codility_image.jpg" >
                        </a>
                    </div>
                </div>
                <div class="project-technogies">
                    <h2 class="h3-About">Technologies used</h2>
                    <ul class="technologies_list">
                        <li><i class="fa fa-gear technologies_list_li"></i>Java</li>
                    </ul>
                </div>
            </div>

            <div class="column-projects_2 border_line">
                Java Codility lessons. Repository contains my sollutions to some Codility lessons tasks. 
                Lessons are available at <a href="https://app.codility.com/programmers/lessons/1-iterations/" target="_blanck">Codility</a> site. 
                For programming language I used Java 11.
            </div>
            
            <div class="column-projects_3_blank">
            </div>
        </div>
    </div>
</section>

<section class="footer" >
    <div class="container footer">
        <h3>I'm available for work, feel free to contact me</h3>
    </div>
    <div class="footer_action">
        <a href="https://www.linkedin.com/in/stanislawjakubowski/"target="_blank">
            <i class="fa fa-linkedin actionI" aria-hidden="true"></i>    
            <span class="actionSpan">LinkedIn</span>    
        </a>
        <a href="http://github.com/stanislawjakubowski" target="_blank">
            <i class="fa fa-github actionI" aria-hidden="true"></i>    
            <span class="actionSpan">GitHub</span>    
        </a>
        <a href="#my_popup">
            <i class="fa fa-envelope actionI" aria-hidden="true"></i>    
            <span class="actionSpan">Email</span>
        </a>
        <a href="#" id="my_popup" class="popup">    
        </a>
        <div class="popup">
            <h5>My email</h5>
            <hr>
            <p>stanislaw.jakubowski@o2.pl</p>
        </div> 
    </div>

</section>

