@media only screen and (max-width: 2000px) {
    .container-size {
       padding-left: 10%;
       padding-right: 10%;
    }

    .popup-size{
        width		: 20%; 
        height		: 15%; 
        top		    : 20%;
        left		: 40%;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .container-size {
       padding-left: 5%;
       padding-right: 5%;
    }
    
    .popup-size{
        width		: 40%; 
        height		: 12%; 
        top		    : 20%;
        left		: 30%;

    }
 }


.about-me{
     
    background: #F9FCFF;
    padding: 5rem 0;
    border-bottom: 1px solid rgb(185, 185, 252); 
}

.footer{
    text-align: center;
    padding: 3rem 3rem;
}

.about_me_container{
    /* padding-left: 5%;
    padding-right: 5%; */
    max-width: 120rem; 
}

.projects_container{
    max-width: 120rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid rgb(185, 185, 252);
}

.project_last_container{
    max-width: 120rem;
    padding-top: 2.5rem;
}
.project_title_container{
   
    max-width: 120rem;
}

.flex_div{
    display: flex;
    flex-direction: row;
}

.column-about_me_1{
    flex: 30%;
    padding: 10px;
    padding-right: 20px;
}

.column-about_me_2{
    flex: 70%;
    padding: 10px;
    padding-left: 20px;
}

.column-projects_1{
    flex: 30%;
    padding: 10px;
    padding-right: 20px;
}

.column-projects_2{
    flex: 45%;
    padding: 10px;
    padding-left: 20px;
}

.column-projects_3_blank{
    flex: 25%;
    padding: 10px;
    padding-left: 20px;
}

.border_line{
    border-left: 1px inset;
    
}

.h2-About{
    color: #353A47;
    font-size: 1.6rem;
    font-weight: bold;
    /* padding: 10px; */
}

.h3-About{
    color: #353A47;
    font-size: 1.2rem;
    font-weight: bold;
    /* padding: 10px; */

}

.project-display{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.project_display_image{
    margin-bottom: 2rem;
     margin-top: 0.5rem;
}
.project_technologies{
    margin: 0;
    padding: 0;
}
.project_image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0.5rem 0.8rem 1rem #888888;
}

.project-technogies{
    padding: 0;
    margin: 0;
}

.technologies_list{
    columns: 2;
    padding-left: 0.7rem;
    list-style: none;
}

.technologies_list_li{
    padding-top: 0.9rem;
    padding-right: 0.8rem;
    
}

.footer_action{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(min-content, 7rem) );
    grid-column-gap: 1rem;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.actionI{
    font-size: 1.5rem;
    display: block;
}

/* popup */

a.popup:target { display: block; }

a.popup:target + div.popup { display: block; }

a.popup {
	display		: none;
	position	: fixed;
	top		    : 0;
	left		: 0;
	z-index		: 3; 
	width		: 100%;
	height		: 100%;
	background	: rgba(0, 0, 0, 0.8);
	cursor		: default;
}

div.popup {

	display 	: none;
    background	: white;
    color       : black;
	position	: fixed;
    z-index		: 4; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
	-webkit-box-sizing : border-box;
	-moz-box-sizing	: border-box;
	-ms-box-sizing	: border-box;
    box-sizing	: border-box;
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 5px;
    opacity: 0.6;
    -moz-opacity:0.6;
}