<section class="about-me" id="about-me-section">
    <div class="container down-page-container">
        <div class="column-about">
            <h2 class="h2-About">Important things about me.</h2>
        </div>

        <div class="column-text ">
            After many years spent in the pharmaceutical industry as a medical representative, 
            I came back to my unfulfilled interest – programming. My goal is to become a professional
            developer within the next few years. To achieve this, I started with completion of extended
            Web JAVA Developer course at IT Coders Lab School. 
            Currently I am looking for a chance to work in commercial JAVA projects. 
            Despite the lack of commercial experience, I believe through the compilation of hard work, 
            motivation and technical background I will bring quick value to engaged projects. 
        </div>
    </div>
</section>
<section class="about-me" id="projects-section">
    <div class="container down-page-container">
        <div class="column-about">
            <h2 class="h2-About">Projects</h2>
        </div>
        <div class="column-text ">

        </div>
    </div>
    
    <div class="container down-page-container">
        <div class="column-about">
            <h2 class="h3-About">Personal Portfolio</h2>
            <div class="project-display">
                <div class="project_display_image">
                    <img class="project_image" src="../../assets/images/porfolio_image.jpg" >
                </div>
                <div>

                </div>
            </div>
        </div>
        <div class="column-text ">
            <h2 class="h3-About">Overview</h2>
            Web project to display my portfolio of work.<hr> It was built by me using Angular framework
        </div>
    </div>
</section>

