
<div class="imageBackground">
    <nav class="header">
        <div class="container">
            <h1>Stanisław <span>Jakubowski</span></h1>
            <ul>
                <li><a href="#about-me-section">About Me</a></li>
                <li><a href="#projects-section">Projects</a></li>
            </ul>
        </div>
    </nav>
    <div class="containerCenter">
        <div>
            <h1 class="h1Center">Java Junior Developer</h1>
        </div>
    
        <div class="header_action">
            <a href="https://www.linkedin.com/in/stanislawjakubowski/"target="_blank">
                <i class="fa fa-linkedin actionI" aria-hidden="true"></i>    
                <span class="actionSpan">LinkedIn</span>    
            </a>
            <a href="http://github.com/stanislawjakubowski" target="_blank">
                <i class="fa fa-github actionI" aria-hidden="true"></i>    
                <span class="actionSpan">GitHub</span>    
            </a>
            <a href="#my_popup">
                <i class="fa fa-envelope actionI" aria-hidden="true"></i>    
                <span class="actionSpan">Email</span>
            </a>
            <a href="#" id="my_popup" class="popup">    
            </a>
            <div class="popup">
                <h5>My email</h5>
                <hr>
                <p>stanislaw.jakubowski@o2.pl</p>
            </div> 
        </div>
        
    </div>
</div>
