@media only screen and (max-width: 2000px) {
    .container-size {
       padding-left: 10%;
       padding-right: 10%;
    }

    .popup-size{
        width		: 20%; 
        height		: 15%; 
        top		    : 20%;
        left		: 40%;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .container-size {
       padding-left: 5%;
       padding-right: 5%;
    }

    .popup-size{
        width		: 40%; 
        height		: 12%; 
        top		    : 20%;
        left		: 30%;
    }

 }
 
.imageBackground{
    background-size:cover; 
    background-position: center;
    background-image:url(../../assets/images/warsaw-photo.jpg);
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
    top: 0; 
    left: 0; 
}
h1{
    font-size: 1.5rem;
    text-align: center;
}
.header__name{
    font-weight: bold; 
    
}
.header__lastName{
    font-weight: normal;
}

div{
    color: white;
    font-family: 'Roboto', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.header{
    position: absolute;
    top: 3rem;
    color: white;
    position: relative;
}
.header_action{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(min-content, 3rem) );
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.actionSpan {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 200;
}

.actionI{
    font-size: 1.5rem;
    display: block;
}

.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    max-width: 120rem;

}


.containerCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.font-size-1_5{
    font-size: 1.5rem; 
}

.font-bold{
    font-weight: bold; 
    
}

.h1Center{
    font-size: 2.5rem;
}
.navbar__ul{
    display: flex;
    list-style: none;
}

.navbar__ul__li{
    margin-right: 2rem;
}


/* popup */

a.popup:target { display: block; }

a.popup:target + div.popup { display: block; }

a.popup {
	display		: none;
	position	: fixed;
	top		    : 0;
	left		: 0;
	z-index		: 3; 
	width		: 100%;
	height		: 100%;
	background	: rgba(0, 0, 0, 0.8);
	cursor		: default;
}

div.popup {

	display 	: none;
    background	: white;
    color       : black;
	position	: fixed;
    z-index		: 4; 
    font-family: 'Roboto', sans-serif;
    text-align: center;
	-webkit-box-sizing : border-box;
	-moz-box-sizing	: border-box;
	-ms-box-sizing	: border-box;
    box-sizing	: border-box;
    padding: 0.7rem;
    font-size: 0.8rem;
    border-radius: 5px;
    opacity: 0.6;
    -moz-opacity:0.6;
}